
body {
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3x2Q1479y8twAsaJBtqWIeJVW8L_HUOUsRpG5c3P1RDhbWnnW");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 45px;
  color: #ddd;
}

h2 {
  font-family: 'Erica One', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin-top: 2%;
}

.running-total {
  font-family: Arial, Helvetica, sans-serif
}

.total-score {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 48px;
}

.player-one-rolls-one {
  font-size: 36px;
  font-family: 'Erica One', sans-serif;
  text-align: center;
  display: none;
}

.player-col {
  border: 20px purple;
  border-radius: 6px;
  height: 300px;
  background: yellow;
}

.btn {
  height: 60px;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  color:red;
}

#winner {
  display: none;
  font-family: 'Erica One';
  font-size: 72px;
}

#player-two-buttons {
  display: none;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
p {
	text-align: center;
  color: red;
  font-size: 40px;
}
.audio{
  text-align: center;
}
@media only screen and (max-width: 450px) {
  body {
      background-color: lightblue;
  }
}
@media only screen and (max-width: 850px) {
  body {
      background-color: yellowgreen;
  }
}